.sr-only {
  position: absolute;
  z-index: -1000;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.chatting {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 104px 24px 24px 24px;
  width: 100%;
  height: 100%;
}

.chat {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 6px 0;
}

.chat-list {
  width: 342px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 20px;
  padding: 12px;
}

.chat-list h2 {
  margin-bottom: 16px;
  padding: 12px;
}

.chat-message {
  width: 778px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.chat-message h2 {
  margin-bottom: 16px;
  padding: 12px;
}

.message {
  cursor: pointer;
  display: flex;
  width: 100%;
  max-width: 810px;
  padding: 8px;
  background-color: #fff;
}

.message:hover {
  background-color: #f8f8f8;
}

.message-user {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  margin-right: 12px;
  overflow: hidden;
}

.message-user a {
  display: block;
}

.message-user img {
  display: block;
  width: 100%;
  height: auto;
}

.message-info {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 2px;
}

.message-content {
  width: 100%;
}

.message-sender,
.message-text {
  font-size: 16px;
  line-height: 1.25;
  color: #212021;
}

.message-sender {
  margin-right: 8px;
  font-weight: 900;
}

.message-timestamp {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #b2b1b2;
  cursor: default;
  margin-left:10pt;
}

.message-text {
  font-size: 16px;
  line-height: 1.25;
  color: #212021;
}

.message-reverse {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 810px;
  padding: 8px;
  background-color: #fff;
}

.message-reverse:hover {
  background-color: #f8f8f8;
}

.message-user-reverse {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  margin-left: 12px;
  overflow: hidden;
}

.message-user-reverse a {
  display: block;
}

.message-user-reverse img {
  display: block;
  width: 100%;
  height: auto;
}

.message-info-reverse {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  margin-bottom: 2px;
}

.message-content-reverse {
  width: 100%;
}

.message-sender-reverse,
.message-text-reverse {
  font-size: 16px;
  line-height: 1.25;
  color: #212021;
}

.message-sender-reverse {
  font-weight: 900;
}

.message-timestamp-reverse {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #b2b1b2;
  cursor: default;
  margin-right: 10pt;
}

.message-text-reverse {
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  line-height: 1.25;
  color: #212021;
}

.chat-form {
  position: fixed;
  bottom: 5%;
  width: inherit;
}

.chat-form .message_input {
  width: 80%;
  height: 48px;
  padding: 0px 40px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 10%) 0px 7px 15px -2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #b2b1b2;
  border-radius: 8px;
}

.chat-form .message_input {
  width: 80%;
  height: 48px;
  padding: 0px 30px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 10%) 0px 7px 15px -2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #b2b1b2;
  border-radius: 8px;
  margin-right: 6px;
}

.chat-form .submit_btn {
  cursor: pointer;
  width: 13%;
  height: 48px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 10%) 0px 7px 15px -2px;
  background-color: rgba(154, 226, 232, 1);
  border: 0;
  border-radius: 8px;
}

.message-list {
  height: 85%;
  overflow: scroll;
}

.message-log {
  height: 70%;
  overflow: scroll;
}